.Messagearea{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}
.MessageAreaHeader{
    flex-basis: 10%;
    border-bottom:solid 2px #E8E8E8;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
.ChatArea{
    flex-basis: 80%;
    overflow-y: scroll; 
    height: 100%;
}
.chat_body {
    flex-basis: 80%;
    padding: 30px;
    height: 100%;
  }
  .chat_message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    /* it will make the div take only those parts,which are taken by texts,not much space will be given to the div,jitna requirement hai utna hi */
    width: fit-content;
    margin-bottom: 20px;
  }
  .chat_name {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
  }
  .chat_timestamp {
    margin-left: 10px;
    font-size: xx-small;
  }
  .chat_reciever {
    margin-left: auto;
    background-color: #dcf8c6;
  }
  .MessageInputArea{
    flex-basis: 10%;
    min-height: 40px;
    
}
.MessageInputArea input{
    height: 100%;
    width: 100%;
}
.Form{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.MenuPartHeader{
    display: flex;
    align-items: center;
}